<h1><%= title %></h1>
<h2> Where did you go? </h2>
<form class="new-edit-map-trip-form">

  <input type="text" name="map_trip[title]" placeholder="title" value="<%= mapTrip.get("title") %>">
  <br>

  <input type="text" name="map_trip[description]" placeholder="description" value="<%= mapTrip.get("description") %>">
  <br>

  <label>Sharing</label>
  <input type="radio" name="map_trip[shared]" value=true <%= publicCheckedValue %> >Public<br>
  <input type="radio" name="map_trip[shared]" value=false <%= privateCheckedValue %>>Private<br>

  <input type="submit" value="<%= buttonText %>">
</form>
