<h1> A Map Photo </h1>
<img src="<%= @map_photo.map_photo.url(:big) %>" id="img1" exif="true" name="ladeda">
<div id="map"></div>
<%= link_to "Delete", @map_photo, :method => :delete %>
<script>
  $(document).ready(function() {
    var map = L.map('map').setView([<%= @map_photo.latitude %>, <%= @map_photo.longitude %>], 14);
    var layer = L.mapbox.tileLayer('<%= ENV["MAPBOX_MAP_ID"] %>').addTo(map);
    var photo_marker = L.marker([<%= @map_photo.latitude %>, <%= @map_photo.longitude %>]).addTo(map);
  }); 
</script>
