<!DOCTYPE html>
<html>
<head>
  <title>MapBlog Leaflet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="nav pull-left nav-left-content">
          <a href="<%= root_url %>"><h1>Map Blog</h1></a>
        </div>
        <div class="nav pull-right nav-buttons">
        <% if current_user %>
          <img class="nav-img" src="<%= current_user.user_photo.url("small") %>"></img>
          <p><a href="#/users/<%= current_user.id %>"><%= current_user.username %></a></p>
          <a class="sign-out-button" href="<%= backbone_signout_session_url %>"><i class="fa fa-sign-out sign-out-button"></i></a>
        <% else %>
          <a href="#signin"><i class="fa fa-sign-in"></i></a>
        <% end %>
        </div>
      </div>
    </div>
    <div class="success-messages">
    </div>
    <div class="information-messages">
    </div>
    <div class="error-messages">
    </div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <h5> <%= error %> </h5>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
